# App
APP_ENV=dev
SERVER_PORT=8080
APP_STORAGE_ROOT=storage
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
SWAGGER_UI_PATH=/swagger
SWAGGER_API_DOCS_PATH=/api-docs

# LDAP (prod)
LDAP_URL=<ldap>://<ip>
LDAP_BASE_DN=dc=unmsm,dc=edu,dc=pe
LDAP_MANAGER_DN=uid=<MANAGER_DN>
LDAP_MANAGER_PASSWORD=<MANAGER_PASS>
LDAP_USER_SEARCH_BASE=
LDAP_USER_SEARCH_FILTER=(uid={0})