# Maven
target/

# Storage local
storage/**
!storage/.gitkeep

# IDE
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Exportaciones limpias
dist/
exports/

# Variables locales
.env
.env.*
!.env.example
